@font-face {
    font-family: SourceSansPro-Black;
    src: url(../fonts/SourceSansPro/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 1200px) {}

* {
    margin: 0;
    padding: 0;
    font-family: SourceSansPro-Black;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header {
    color: rgb(80, 106, 133);
}

.header .header_top {
    height: 41px;
    background: rgb(245, 247, 250);
    border-bottom: 1px solid rgb(230, 233, 237);
    font-size: 11px;
}

.header .header_top .header_top_blocks {
    display: flex;
    height: 40px;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.header .header_top .header_top_blocks .header_top_blocks_item .contact_mail {
    padding: 0px 28px 0px 19px;
    background: url(../img/icon-mail.png) no-repeat;
    background-position-y: 2px;
}

.header .header_top .header_top_blocks .header_top_blocks_item .contact_phone {
    padding: 0px 15px 0px 17px;
    background: url(../img/icon-mobile.png) no-repeat;
}

.header .header_top .header_top_blocks .header_top_blocks_item ul {
    display: flex;
    flex-direction: row;
}

.header .header_top .header_top_blocks .header_top_blocks_item ul li {
    padding: 0 10px 0 7px;
}

.header .header_bottom {
    font-size: 11px;
    text-transform: uppercase;
    height: 112px;
    border-bottom: 1px solid rgb(230, 233, 237);
}

.header .header_bottom .header_bottom_blocks {
    display: flex;
    height: 111px;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
}

.header .header_bottom .header_bottom_blocks ul {
    margin-left: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header .header_bottom .header_bottom_blocks ul li {
    padding: 0px 22px 0px 22px;
}

main .hero {
    background: url(../img/bgimage.png) no-repeat;
    background-size: 200%;
    padding: 260px 0 260px 0;
}

main .hero .hero_title {
    text-transform: uppercase;
    color: white;
    font-size: 92px;
    text-align: center;
}

main .hero .hero_text {
    color: rgb(163, 177, 191);
    text-align: center;
    margin: 10px 0 65px 0;
}

main .hero .green_button .hero_button_item {
    color: white;
    width: 295px;
    height: 65px;
    border-radius: 2px;
    background: rgb(0, 188, 156);
    margin: 0 auto;
}

main .hero .green_button .hero_button_item p {
    text-align: center;
    position: relative;
    top: 22px;
    text-transform: uppercase;
}

main .whoWeAre .whoWeAre_title {
    margin-top: 130px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(80, 106, 133);
    text-align: center;
}

main .whoWeAre .whoWeAre_text {
    font-family: Lato-Bold;
    margin-top: 48px;
    color: rgb(115, 135, 156);
    text-align: center;
}

main .whoWeAre .whoWeAre_boxes {
    margin: 85px 0 130px;
    display: flex;
    justify-content: space-between;
}

main .whoWeAre .whoWeAre_boxes .passion {
    background: url(../img/icon-heart-empty.png) no-repeat;
    background-position: relative;
    background-position: 8px 8px;
}

main .whoWeAre .whoWeAre_boxes .creativity {
    background: url(../img/icon-lamp.png) no-repeat;
    background-position: relative;
    background-position: 15px 8px;
}

main .whoWeAre .whoWeAre_boxes .quality {
    background: url(../img/icon-star-empty.png) no-repeat;
    background-position: relative;
    background-position: 10px 8px;
}

main .whoWeAre .whoWeAre_boxes .passion,
main .whoWeAre .whoWeAre_boxes .creativity,
main .whoWeAre .whoWeAre_boxes .quality {
    padding-left: 100px;
    margin-right: 15px;
    color: rgb(80, 106, 133);
}

main .whoWeAre .whoWeAre_boxes .passion p,
main .whoWeAre .whoWeAre_boxes .creativity p,
main .whoWeAre .whoWeAre_boxes .quality p {
    font-family: Lato-Bold;
}

main .latestWorks {
    background: rgb(242, 245, 247);
}

main .latestWorks .latestWorks_title {
    padding-top: 130px;
    text-align: center;
    color: rgb(80, 106, 133);
    font-size: 50px;
}

main .latestWorks .latestWorks_text {
    margin-top: 45px;
    text-align: center;
    color: rgb(115, 135, 156);
    font-family: Lato-Bold;
}

main .latestWorks .latestWorks_largeBox {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
}

main .latestWorks .latestWorks_largeBox .item {
    height: 500px;
    width: 570px;
}

main .latestWorks .latestWorks_largeBox .item .item_text {
    text-align: center;
    background: white;
    width: 100%;
    height: 110px;
    position: relative;
    bottom: 4px;
    box-shadow: 0 1px 2px 1px rgb(230, 233, 237);
    border-radius: 0 0 1px 1px;
}

main .latestWorks .latestWorks_largeBox .item .item_text .item_text_title {
    color: rgb(80, 106, 133);
    font-size: 20px;
    padding-top: 25px;
}

main .latestWorks .latestWorks_largeBox .item .item_text .item_text_text {
    color: rgb(115, 135, 156);
    font-size: 15px;
    padding-top: 12px;
}

main .latestWorks .latestWorks_smallBox {
    padding: 150px 0 127px 0;
    display: flex;
    justify-content: space-between;
}

main .latestWorks .latestWorks_smallBox .item {
    height: 185px;
    width: 270px;
}

main .getInTouch {
    padding: 130px 0 130px 0;
}

main .getInTouch .getInTouch_title {
    color: rgb(80, 106, 133);
    font-size: 35px;
    text-align: center;
}

main .getInTouch .getInTouch_text {
    color: rgb(163, 177, 191);
    text-align: center;
    margin: 42px 0 50px 0;
}

main .getInTouch .green_button .getInTouch_button_item {
    color: white;
    width: 295px;
    height: 65px;
    border-radius: 2px;
    background: rgb(0, 188, 156);
    margin: 0 auto;
}

main .getInTouch .green_button .getInTouch_button_item p {
    text-align: center;
    position: relative;
    top: 22px;
    text-transform: uppercase;
}

footer .footer_top {
    background: rgb(47, 64, 82);
    padding: 75px 0 75px 0;
}

footer .footer_top .footer_top_blocks {
    display: flex;
    justify-content: space-between;
}

footer .footer_top .footer_top_blocks .block:nth-child(1) {
    width: 25%;
}

footer .footer_top .footer_top_blocks .block:nth-child(2) {
    width: 50%;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) {
    width: 25%;
}

footer .footer_top .footer_top_blocks .block:nth-child(1) .block_title {
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 20px;
}

footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(1) {
    font-size: 15px;
    padding: 25px 15px 25px 0;
    color: rgb(163, 177, 191);
    font-family: Lato-Bold;
}

footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(2) {
    color: rgb(163, 177, 191);
}

footer .footer_top .footer_top_blocks .block:nth-child(2) .block_title {
    padding: 0 15px 25px 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box {
    width: 125px;
    height: 85px;
    margin: 0px 5px 6px 0px;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_title {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_text {
    font-size: 15px;
    padding-top: 25px;
    color: rgb(163, 177, 191);
    font-family: Lato-Bold;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts {
    margin-top: 25px;
    display: flex;
    flex-flow: column nowrap;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts .item {
    padding-left: 25px;
    font-family: Lato-Bold;
    color: rgb(163, 177, 191);
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts .item:nth-child(1) {
    background: url(../img/footer_icon-location.png) no-repeat;
    background-position: 1px 4px;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts .item:nth-child(2) {
    background: url(../img/footer_icon-mobile.png) no-repeat;
    background-position: 1px 4px;
}

footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts .item:nth-child(3) {
    background: url(../img/footer_icon-mail.png) no-repeat;
    background-position-y: 7px;
}

footer .footer_bottom {
    background: rgb(40, 54, 69);
    color: rgb(112, 126, 140);
}

footer .footer_bottom .footer_bottom_blocks {
    height: 83px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

footer .footer_bottom .footer_bottom_blocks .block:nth-child(1) span {
    text-transform: uppercase;
}

footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
}

footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul li {
    list-style-type: disc;
    margin-left: 25px;
}

footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul li:nth-child(1) {
    list-style: none;
}

footer .footer_bottom .buttonScrollUp {
    width: 40px;
    height: 40px;
    background: rgb(60, 80, 101);
    border-radius: 2px;
    position: fixed;
    right: 20px;
    bottom: 22px;
}

footer .footer_bottom .buttonScrollUp span {
    font-family: Lato-Bold;
    color: rgb(148, 155, 162);
    font-size: 40px;
    position: relative;
    top: 3px;
    left: 8.5px;
}

@media (max-width: 479.98px) and (min-width: 320px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .header .header_top .header_top_blocks .header_top_blocks_item ul {
        display: none;
    }

    .header .header_bottom .header_bottom_blocks .navigation {
        display: none;
    }

    main .hero {
        background: url(../img/bgimage.png) no-repeat;
        background-size: 200%;
        padding: 10px 0 30px 0;
    }

    main .hero .hero_title {
        font-size: 50px;
    }

    main .hero .hero_text {
        margin: 10px 0 30px 0;
    }

    main .whoWeAre .whoWeAre_title {
        margin-top: 20px;
    }

    main .whoWeAre .whoWeAre_text {
        font-size: 14px;
    }

    main .whoWeAre .whoWeAre_boxes {
        margin: 60px 0 60px;
        display: flex;
        flex-flow: column nowrap;
    }

    main .latestWorks .latestWorks_title {
        padding-top: 60px;
    }

    main .latestWorks .latestWorks_largeBox {
        margin-top: 78px;
        display: flex;
        flex-flow: column nowrap;
    }

    main .latestWorks .latestWorks_smallBox {
        padding: 150px 0 127px 0;
        display: flex;
        flex-flow: row wrap;
    }

    main .latestWorks .latestWorks_largeBox .item {
        height: 100%;
        width: 100%;
    }

    main .latestWorks .latestWorks_smallBox .item {
        height: 50%;
        width: 50%;
    }

    main .latestWorks .latestWorks_largeBox .item img,
    main .latestWorks .latestWorks_smallBox .item img {
        max-width: 100%;
        max-height: 100%;
    }

    main .latestWorks .latestWorks_smallBox {
        padding: 50px 0 50px 0;
    }

    main .getInTouch {
        padding: 60px 0 60px 0;
    }

    footer .footer_top {
        padding: 10px 0 10px 0;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) {
        margin-left: 40px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_title {
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(1),
    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(2),
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_text {
        font-size: 10px;
        padding-top: 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts {
        font-size: 10px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
        width: 80%;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box {
        width: 45%;
        height: 75%;
        margin: 0px 5px 6px 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box img {
        width: 100%;
        height: 100%;
    }

    footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul {
        display: none;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts .item:nth-child(3) {
        background-position-y: 2px;
    }
}

@media (max-width: 575.98px) and (min-width: 480px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .header .header_bottom .header_bottom_blocks .navigation {
        display: none;
    }

    main .hero {
        background: url(../img/bgimage.png) no-repeat;
        background-size: 200%;
        padding: 10px 0 30px 0;
    }

    main .hero .hero_title {
        font-size: 50px;
    }

    main .hero .hero_text {
        margin: 10px 0 30px 0;
    }

    main .whoWeAre .whoWeAre_title {
        margin-top: 20px;
    }

    main .whoWeAre .whoWeAre_text {
        font-size: 14px;
    }

    main .whoWeAre .whoWeAre_boxes {
        margin: 60px 0 60px;
        display: flex;
        flex-flow: column nowrap;
    }

    main .latestWorks .latestWorks_title {
        padding-top: 60px;
    }

    main .latestWorks .latestWorks_largeBox .item,
    main .latestWorks .latestWorks_smallBox .item {
        height: 50%;
        width: 50%;
    }

    main .latestWorks .latestWorks_largeBox .item img,
    main .latestWorks .latestWorks_smallBox .item img {
        max-width: 100%;
        max-height: 100%;
    }

    main .latestWorks .latestWorks_smallBox {
        padding: 50px 0 50px 0;
    }

    main .getInTouch {
        padding: 60px 0 60px 0;
    }

    footer .footer_top {
        padding: 10px 0 10px 0;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_title {
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(1),
    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(2),
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_text {
        font-size: 13px;
        padding-top: 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts {
        font-size: 12px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
        width: 80%;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box {
        width: 45%;
        height: 75%;
        margin: 0px 5px 6px 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box img {
        width: 100%;
        height: 100%;
    }

    footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .header .header_bottom .header_bottom_blocks .navigation {
        display: none;
    }

    main .hero {
        background: url(../img/bgimage.png) no-repeat;
        background-size: 200%;
        padding: 60px 0 60px 0;
    }

    main .hero .hero_text {
        margin: 10px 0 30px 0;
    }

    main .whoWeAre .whoWeAre_title {
        margin-top: 20px;
    }

    main .whoWeAre .whoWeAre_text {
        font-size: 14px;
    }

    main .whoWeAre .whoWeAre_boxes {
        margin: 60px 0 60px;
        display: flex;
        flex-flow: column nowrap;
    }

    main .latestWorks .latestWorks_title {
        padding-top: 60px;
    }

    main .latestWorks .latestWorks_largeBox .item,
    main .latestWorks .latestWorks_smallBox .item {
        height: 50%;
        width: 50%;
    }

    main .latestWorks .latestWorks_largeBox .item img,
    main .latestWorks .latestWorks_smallBox .item img {
        max-width: 100%;
        max-height: 100%;
    }

    main .latestWorks .latestWorks_smallBox {
        padding: 50px 0 50px 0;
    }

    main .getInTouch {
        padding: 60px 0 60px 0;
    }

    footer .footer_top {
        padding: 10px 0 10px 0;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_title,
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_title {
        padding-bottom: 20px;
        font-size: 15px;
        text-transform: uppercase;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(1),
    footer .footer_top .footer_top_blocks .block:nth-child(1) .block_text p:nth-child(2),
    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_text {
        font-size: 13px;
        padding-top: 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(3) .block_contacts {
        font-size: 12px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
        width: 80%;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box {
        width: 45%;
        height: 75%;
        margin: 0px 5px 6px 0px;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures .box img {
        width: 100%;
        height: 100%;
    }

    footer .footer_bottom .footer_bottom_blocks .block:nth-child(2) .navigation ul {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .header .header_bottom .header_bottom_blocks .navigation {
        display: none;
    }

    main .hero {
        background: url(../img/bgimage.png) no-repeat;
        background-size: 200%;
        padding: 60px 0 60px 0;
    }

    main .whoWeAre .whoWeAre_boxes {
        margin: 85px 0 130px;
        display: flex;
        flex-flow: column nowrap;
    }

    main .latestWorks .latestWorks_largeBox .item,
    main .latestWorks .latestWorks_smallBox .item {
        height: 50%;
        width: 50%;
    }

    main .latestWorks .latestWorks_largeBox .item img,
    main .latestWorks .latestWorks_smallBox .item img {
        max-width: 100%;
        max-height: 100%;
    }

    main .latestWorks .latestWorks_smallBox {
        padding: 100px 0 100px 0;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
        width: 80%;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    main .latestWorks .latestWorks_largeBox .item img,
    main .latestWorks .latestWorks_smallBox .item img {
        max-width: 100%;
        max-height: 100%;
    }

    footer .footer_top .footer_top_blocks .block:nth-child(2) .block_pictures {
        width: 60%;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}